<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW User</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}"> </form>
<label for="name">Введите имя: </label>
<input type = "text" th:field="*{name}" id="name">
<br/>
<label for="secondName">Введите Фамилию: </label>
<input type = "text" th:field="*{secondName}" id="secondName">
<br/>
<label for="alcoholType">Введите имя: </label>
<input type = "text" th:field="*{alcoholType}" id="alcoholType">
<br/>
<input type="submit"/>
</form>

</body>
</html>